# Accessibility

As explained in [Introduction](/) I had a course about Accessibility in my Uni and here I want to collect some of the most important

## Keyboard Handling

## Color / Contrast Radio

## Screen Reader
