<script>
  import Footer from "$lib/_internal/docs/Footer.svelte"
</script>

<svelte:head>

  <title>Icon Packs — Steeze UI</title>
</svelte:head>

# Icon Packs

## Work in Progress

While this page is in development check out the [Icon Packs](https://github.com/steeze-ui/icons#icon-packs) section in the GitHub Readme

<Footer current="Icon Packs" />
