:root {
	--st-md-code-pre: rgb(25, 25, 52);
}

html {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
body {
	font-family: var(--st-font-family);
	background-color: var(--st-primary-bg-color);
}

#svelte {
	position: relative;
}

::-webkit-scrollbar {
	width: 10px;
	height: 10px;
}

::-webkit-scrollbar-track {
	background-color: var(--st-colors-dark10);
}

::-webkit-scrollbar-thumb {
	border-width: 2px;
	border-style: solid;
	border-color: var(--st-colors-dark10);
	border-radius: 10px;
	background-color: var(--st-colors-dark2);
}

html.light body ::-webkit-scrollbar-track {
	background-color: var(--st-colors-light3);
}

html.light body ::-webkit-scrollbar-thumb {
	background-color: var(--st-colors-gray3);
	border-color: var(--st-colors-light5);
}

.st-focus-ring:focus {
	outline: none;
}
.st-focus-ring:focus-visible {
	outline: var(--st-outline-width) solid var(--st-outline-color);
}
