html {
	font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
		Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
	background-color: var(--st-colors-dark9);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

#svelte {
	position: relative;
}

::-webkit-scrollbar {
	width: 6px;
	height: 6px;
}

::-webkit-scrollbar-track {
	border-radius: 10px;
	background-color: var(--st-colors-dark10);
}

::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background-color: var(--st-colors-dark2);
}

.st-focus-ring:focus {
	outline: none;
}
.st-focus-ring:focus-visible {
	outline: var(--st-outline-width) solid var(--st-outline-color);
}
